.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background-color: #f3f3f3;
    box-shadow: 3px 3px 10px 1px #555555;
    border-radius: 3px;
    color: #690000;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #690000;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}